<configuration>

    <contextName>texas-holdem-server</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
            by default -->
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %logger{0} - %msg \(%t\) %n</pattern>
        </encoder>
    </appender>

    <appender name="SOCKET" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
        <remoteHost>localhost</remoteHost>
        <compressing>true</compressing>
        <reconnectionDelay>10000</reconnectionDelay>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="se" level="DEBUG" />
    <logger name="org.codemonkey" level="DEBUG" />
    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--         <appender-ref ref="SOCKET" /> -->
    </root>

</configuration>

